os:
  linux

language:
  go

services:
  - docker

  script:
    - go test -v ./...
    - CGO_ENABLED=0 go build -o demo
    - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin

    - docker build -f Dockerfile -t witzenederv/demo:latest ./
    - GIT_SHA="$(git rev-parse --short HEAD)"
    - docker tag witzenederv/demo:latest witzenederv/demo:$GIT_SHA

    - docker push witzenederv/demo:latest
    - docker push witzenederv/demo:$GIT_SHA
